services:
  backend:
    image: doublegooood/blog-backend:latest
    container_name: blog-backend
    restart: always
    volumes:
      - ./backend/pb_data:/app/pb_data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 256M
        reservations:
          cpus: '0.25'
          memory: 128M

  frontend:
    image: doublegooood/blog-frontend:latest
    container_name: blog-frontend
    restart: always
    environment:
      - PUBLIC_API_URL=${PUBLIC_API_URL:-https://api.nainong.me}
    expose:
      - "80"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 300M
        reservations:
          cpus: '0.50'
          memory: 150M

  nginx:
    image: nginx:alpine
    container_name: blog-gateway
    restart: always
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 128M
